<script type="text/html" id="proposal_tmp">
<blockquote id="{{ id }}">
	<p>{{ text }}</p>
	<small>
		<b>{{ username }}</b>
		<i>{{ retweet_count }}</i>
	</small>
</blockquote>
</script>
<script type="text/html" id="proposal_tmp_wide">
<blockquote id="{{ id }}">
	<p>{{ text }}</p>
	<small>
		<b>{{ username }}</b>
		<i><%= t('endorsed',:count => "{{ retweet_count}}") %></i>
	</small>
</blockquote>
</script>