<h1>Hashtags#index</h1>

<%= link_to "new hastag", new_hashtag_url %>
<%=tracker_restart_url(:only_path => false)%>
<ul>
	<% @hashtags.each do |hashtag| %>
	<li>
		<%= link_to hashtag.tag, hashtag_url(hashtag)%>
		<small><%= link_to "delete", hashtag_url(hashtag,:format => :json), :method=>:delete, :remote => true, :class => "hashtag_delete"%></small>
	</li>
	<% end %>
</ul>